##### **Topics covered in this notebook:**
1. Range()
2. Inbuilt-functions
3. String Functions
4. String Formatting
5. for loop
6. If else condition
7. Python Data Structure
    - List
    - List methods and functions
8. List Comprehension

In [1]:
print('Hello world')

Hello world

In [2]:
print(Hello World)

SyntaxError: invalid syntax (4293340409.py, line 1)

In [3]:
type('a')

str

In [4]:
a = 5

In [5]:
type(a)

int

In [6]:
range(10)

range(0, 10)

In [7]:
# comparison
type(a==5)

bool

#### range (start, end, step size)

In [8]:
# range will give numbers from 1 to 10 in list form
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# range will give numbers from start 3 to end 10 in list form
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [10]:
# range will give numbers from 3 to 10 with step size 2
list(range(3,10,2))

[3, 5, 7, 9]

In [11]:
# empty list
list(range(10,3))

[]

In [12]:
# empty list
list(range(3,10,-1))

[]

In [13]:
list(range(3.5,10.5))

TypeError: 'float' object cannot be interpreted as an integer

In [14]:
# numbers in reverse order
list(range(-10,-3))

[-10, -9, -8, -7, -6, -5, -4]

In [15]:
type(3.56784)

float

In [16]:
# numbers in reverse order with step size -1, step size can be -ve
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [17]:
list(range(10,3,-2))

[10, 8, 6, 4]

In [18]:
# concatenate two strings
"anand" + "rajesh"

'anandrajesh'

In [19]:
#enter a number and store it into 'a'
a = input("Enter a number : ")

Enter a number : 34

In [20]:
# why string? because user when enter the number in previous cell, bydefault it is in string form
type('a')

str

In [21]:
# bydefault the numbers entered will be string format. That's why it is concatenated
num1 = input("enter 1st number : ")
num2 = input("enter 2nd number : ")

sum = num1 + num2
print(sum)

enter 1st number : 23
enter 2nd number : 57
2357

In [22]:
# to get the sum, just typecast both the numbers to 'int'
num1 = int(input("enter 1st number : "))
num2 = int(input("enter 2nd number : "))

sum = num1 + num2
print(sum)

enter 1st number : 23
enter 2nd number : 57
80

In [23]:
# basic calculator
num1 = float(input("enter the 1st number : "))
num2 = float(input("enter the 2nd number : "))

sum = num1 + num2
diff = num1 - num2
mult = num1 * num2
div = num1 / num2
mod = num1 % num2
flr = num1 // num2
pwr = num1  ** num2

print(sum)
print(diff)
print(mult)
print(div)
print(mod)
print(flr)
print(pwr)

enter the 1st number : 540
enter the 2nd number : 65
605.0
475.0
35100.0
8.307692307692308
20.0
8.0
4.0326858232019736e+177

In [24]:
# find square of any number
a = 2
a ** 2

4

In [25]:
pow(3,5)

243

In [26]:
# print 'python' 3 times
"python " * 3

'python python python '

##### Indexing the list

In [27]:
x = list('INDEPENDENCE')

In [28]:
x

['I', 'N', 'D', 'E', 'P', 'E', 'N', 'D', 'E', 'N', 'C', 'E']

In [29]:
# length of the string
len(x)

12

In [30]:
# accessing the specific character
x[5]

'E'

In [31]:
# accessing the specific character in reverse order
x[-2]

'C'

In [32]:
# alternate characters
x[::2]

['I', 'D', 'P', 'N', 'E', 'C']

In [33]:
x[:12:2]

['I', 'D', 'P', 'N', 'E', 'C']

In [34]:
x[0:11:2]

['I', 'D', 'P', 'N', 'E', 'C']

In [35]:
x[-10:-1:2]

['D', 'P', 'N', 'E', 'C']

In [36]:
# reverse the characters in list but it will not update the list
x[::-1]

['E', 'C', 'N', 'E', 'D', 'N', 'E', 'P', 'E', 'D', 'N', 'I']

In [37]:
x

['I', 'N', 'D', 'E', 'P', 'E', 'N', 'D', 'E', 'N', 'C', 'E']

In [38]:
# reverse the string
b = 'hello world'
b[::-1]

'dlrow olleh'

list : 'mutable' which means we can change

In [39]:
a = 'Swastik'

In [40]:
a[3]

's'

In [41]:
len(a)

7

In [42]:
# string is immutable, cannot be changed
# cannot change a character
a[3] = 'a'

TypeError: 'str' object does not support item assignment

In [43]:
a

'Swastik'

In [44]:
# to change the specific character into a new character, change the string to list
str_list = list(a)

In [45]:
str_list

['S', 'w', 'a', 's', 't', 'i', 'k']

In [46]:
str_list[3] = 'm'

In [47]:
# character changed
str_list

['S', 'w', 'a', 'm', 't', 'i', 'k']

In [48]:
# create an empty list
empty_list = []

In [49]:
empty_list

[]

In [50]:
# list containing some values
list_object = ['Seshadri',23.56,'m',45,'Aakash']

In [51]:
list_object

['Seshadri', 23.56, 'm', 45, 'Aakash']

In [52]:
list_object = ['Seshadri',23.56,'m',45,'Aakash',['Gautam','Anil','Arun']]

In [53]:
list_object[-1]

['Gautam', 'Anil', 'Arun']

In [54]:
# accessing list inside a list
list_object[-1][1]

'Anil'

In [55]:
list_object[-1][-1]

'Arun'

##### List methods

In [56]:
list_object = ['Seshadri',23.56,'m',45,'Aakash',['Gautam','Anil','Arun']]

In [57]:
# append a value to the list
# it will add at the end of list
list_object.append('Ramya')

In [58]:
list_object

['Seshadri', 23.56, 'm', 45, 'Aakash', ['Gautam', 'Anil', 'Arun'], 'Ramya']

In [59]:
# inserting a value at the specified index
list_object.insert(3,'Meenu')

In [60]:
list_object

['Seshadri',
 23.56,
 'm',
 'Meenu',
 45,
 'Aakash',
 ['Gautam', 'Anil', 'Arun'],
 'Ramya']

#### Given a list, separate  the items based on two different even and odd list
##### - For loop, If-else condition

In [61]:
num_list = [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

In [62]:
num_list

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [63]:
len(num_list)

15

In [64]:
a = []
b = []

In [65]:
'''
if we write only i instead of num_list[i] 
then the position number of i will append to the respective list */
'''
for i in range(len(num_list)):
    if i % 2 == 0:
        a.append(i)
    else:
        b.append(i)

In [66]:
a,b

([0, 2, 4, 6, 8, 10, 12, 14], [1, 3, 5, 7, 9, 11, 13])

In [67]:
c = []
d = []

In [68]:
''' 
but if we write num_list[i], then the value at the particular 
the specified index will append to the respective list
'''
for i in range(len(num_list)):
    if num_list[i] % 2 == 0:
        c.append(num_list[i])
    else:
        d.append(num_list[i])

In [69]:
c,d

([2, 4, 6, 8, 10, 12, 14, 16], [3, 5, 7, 9, 11, 13, 15])

In [70]:
e = []
f = []

In [71]:
for i in num_list:
    if i % 2 == 0:
        e.append(i)
    else:
        f.append(i)

In [72]:
e,f

([2, 4, 6, 8, 10, 12, 14, 16], [3, 5, 7, 9, 11, 13, 15])

In [73]:
"arun" in list_object

False

##### String Functions

In [74]:
str_object = 'bkjcbdjbakjbkhbkjwbiqwbf;jbf'

In [75]:
# find will return the index position of the specific character
str_object.find('w')

17

In [76]:
# if the character didn't find, it returns -1
str_object.find('s')

-1

In [77]:
# split : It will split the entire string where 'j' will show up
str_object.split('j')

['bk', 'cbd', 'bak', 'bkhbk', 'wbiqwbf;', 'bf']

In [78]:
# partition the entire string into 3 parts. It also includes the parition letter/string also
str_object.partition('j')

('bk', 'j', 'cbdjbakjbkhbkjwbiqwbf;jbf')

In [79]:
text = "india is my country"

In [80]:
# Return a centered string of length width.
text.center(50,"*")

'***************india is my country****************'

##### List Methods

In [81]:
s = [1,3,4,5,5]

In [82]:
# append list inside list
s.append([3,4,5,6,7])

In [83]:
s

[1, 3, 4, 5, 5, [3, 4, 5, 6, 7]]

In [84]:
# append the items to the list combinedly in list form 
s.append(['Kumar',53,'Hello'])

In [85]:
s

[1, 3, 4, 5, 5, [3, 4, 5, 6, 7], ['Kumar', 53, 'Hello']]

In [86]:
# separate the items and insert to the list rather than in list form
s.extend([6,7,8,9,"ram"])

In [87]:
s

[1, 3, 4, 5, 5, [3, 4, 5, 6, 7], ['Kumar', 53, 'Hello'], 6, 7, 8, 9, 'ram']

##### String formatting

In [89]:
var = input('enter your name : ')

enter your name : rahul

In [90]:
"my name is {}". format(var)

'my name is rahul'

In [91]:
list(34)

TypeError: 'int' object is not iterable

In [92]:
q = [1,2,3,4,5,6,7,8,9]
w = ['anuj','manisha','ramya','anil']
e = [23.45,45,67,89,30]

In [93]:
r = [q,w,e]

In [94]:
r

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 ['anuj', 'manisha', 'ramya', 'anil'],
 [23.45, 45, 67, 89, 30]]

In [95]:
r[1][-2]

'ramya'

In [96]:
r[2][1]

45

##### List_comprehension

In [97]:
list_num = [24,45,67,32,90]

In [98]:
# list_comprehension
[i * 2 for i in list_num]

[48, 90, 134, 64, 180]