## Basics of Python Part 2

1. Tuple
2. Tuple methods
3. Sets
4. Dictionary

##### *Tuple*

In [1]:
t = (3,4,5)

In [2]:
type(t)

tuple

In [1]:
a =()
b =[]
c= {}

In [5]:
type(a)

tuple

In [3]:
type(b)

list

In [4]:
type(c)

dict

In [6]:
t =(3,4,5,6)

In [7]:
t

(3, 4, 5, 6)

In [8]:
# duplicate values are allowed
test = (3,4,5,6,6,7)

In [9]:
test

(3, 4, 5, 6, 6, 7)

##### *Tuple methods*

In [10]:
test.count(4)

1

In [11]:
test.index(6)

3

#### *Tuples are Immutable*

In [14]:
# list methods are not allowes in tuple
test.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [13]:
test.extend(3,4)

AttributeError: 'tuple' object has no attribute 'extend'

In [15]:
t1 = (3,4,5,6)
t2 = (2,7,8,9)

In [16]:
# concatenation
t1 + t2

(3, 4, 5, 6, 2, 7, 8, 9)

In [1]:
t3 = ('akhil',3,45.67, 'ramesh','india')

In [2]:
t3

('akhil', 3, 45.67, 'ramesh', 'india')

In [4]:
t1

(3, 4, 5, 6)

In [5]:
len(t1)

4

In [8]:
# whenever accessing any element, we have to use square bracket[]
for i in range(len(t1)):
    print(t1[i])

3
4
5
6

In [24]:
list(range(len(t1)))

[0, 1, 2, 3]

In [25]:
for i in t1:
    print(i)

3
4
5
6

##### *sets*

In [9]:
# when we add an element ot the {} (curly braces), then it becomes sets or else empty {} is dictionary
x = {1,2,'sad'}

In [10]:
type(x)

set

In [11]:
## set won't allow any duplicates
set_dup = {2,3,'ana',2,3,'manisha'}

In [12]:
set_dup

{2, 3, 'ana', 'manisha'}

In [30]:
# set elements are not accessible through index position
set_dup[2]

TypeError: 'set' object is not subscriptable

In [31]:
len(set_dup)

4

##### Accessing set through loop and in operator

In [33]:
for i in set_dup:
    print(i)

2
manisha
3
ana

In [13]:
'ana' in set_dup

True

In [14]:
set_ex = {4,5,6,7,3,4,7,5,4,1,2,0,5656,4564,234,234,2342,"abc","##","abhay","chithra",23.56}

In [15]:
# setsnever returns a sorted dataset but order will be there
set_ex

{'##',
 0,
 1,
 2,
 23.56,
 234,
 2342,
 3,
 4,
 4564,
 5,
 5656,
 6,
 7,
 'abc',
 'abhay',
 'chithra'}

In [16]:
for i in set_ex:
    print(i)

0
1
2
3
4
5
6
7
4564
23.56
5656
abhay
abc
2342
##
234
chithra

In [20]:
# convert list to set
list_items = ['banana','mango','oil','pulses','oil','mango',26,70,34,8,26,57,8]

In [21]:
list_items

['banana', 'mango', 'oil', 'pulses', 'oil', 'mango', 26, 70, 34, 8, 26, 57, 8]

In [22]:
z=set(list_items)

In [23]:
z

{26, 34, 57, 70, 8, 'banana', 'mango', 'oil', 'pulses'}

In [24]:
set_uniq = {22,3,33,4,55,'anil'}

In [25]:
# removing items from set
set_uniq.pop()

33

##### Dictionary

Dictionary are **key-value** pairs

In [1]:
# empty dictionary
empty = {}

In [2]:
empty

{}

In [3]:
type(empty)

dict

dictionary are key value pairs

In [4]:
my_dict = {'Jan': 31, 'Feb':28, 'March': 31, 'Apr':30} # keys are strings
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30}

Key can be string, numbers or tuples, basically it has to be immutable object.

In [5]:
dict2 = {1:'Jan', 2:'Feb', 3:'March', 4:'April'}  # keys are numbers
dict2

{1: 'Jan', 2: 'Feb', 3: 'March', 4: 'April'}

In [6]:
dict3 = {(1, 2019) : 'Jan', (2, 2019):'Feb'}  #keys are tuples
dict3

{(1, 2019): 'Jan', (2, 2019): 'Feb'}

In [7]:
dict4 = {[1, 2019] : 'Jan', [2, 2019]:'Feb'}  #keys cannot be list
dict4

TypeError: unhashable type: 'list'

In [8]:
dict5 = {'Jan':[1, 2019],'Feb':[2, 2019]}  #keys are strings
dict5

{'Jan': [1, 2019], 'Feb': [2, 2019]}

dict() function can also be used to create dictionary. List of tuples which actually contains the key value pairs needs to be provided as the input.

In [9]:
d = dict([('A',1), ('B',2), ('C',3)])
d

{'A': 1, 'B': 2, 'C': 3}

##### accessing keys and values

In [10]:
my_dict = {'Jan': 31, 'Feb':28, 'March': 31, 'Apr':30} # keys are strings
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30}

In [12]:
my_dict.keys() # get all keys of dictionary

dict_keys(['Jan', 'Feb', 'March', 'Apr'])

In [14]:
my_dict.values() # get all values of dictionary

dict_values([31, 28, 31, 30])

In [15]:
my_dict.items()

dict_items([('Jan', 31), ('Feb', 28), ('March', 31), ('Apr', 30)])

accessing each element

In [16]:
my_dict['Jan']

31

In [17]:
my_dict['Apr']

30

'in' and 'not in' used in dictionary to check whether key is present or not

In [18]:
'Apr' in my_dict

True

In [19]:
2 in [2,3,4,5]

True

In [21]:
3 in [1,2,5,6]

False

##### Looping in Dictionary

In [22]:
letter_dict = { 'I':1, 'V':5, 'X':10, 'L':50, 'C':100, 'D':500, "M":1000}
letter_dict

{'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}

In [24]:
for key in letter_dict.keys():
    print(key)

I
V
X
L
C
D
M

In [25]:
for value in letter_dict.values():
    print(value)

1
5
10
50
100
500
1000

In [27]:
# access both keys and values
for key in letter_dict.keys():
    print(key," ",letter_dict[key])

I   1
V   5
X   10
L   50
C   100
D   500
M   1000

In [28]:
for key,value in letter_dict.items():
    print(key," ", value)

I   1
V   5
X   10
L   50
C   100
D   500
M   1000

##### operations in dictionary

In [32]:
# updating the value
my_dict['Apr'] = 31
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 31}

values can be in list form

In [33]:
emp_data = { 1:['1','Emp A', 34] , 2:['2','Emp B', 35], 3:['3','Emp C', 36]}
print(emp_data)

{1: ['1', 'Emp A', 34], 2: ['2', 'Emp B', 35], 3: ['3', 'Emp C', 36]}

In [34]:
emp_data.keys()

dict_keys([1, 2, 3])

In [35]:
emp_data.values()

dict_values([['1', 'Emp A', 34], ['2', 'Emp B', 35], ['3', 'Emp C', 36]])

Add new employee in the database

In [36]:
new_emp = ['4', 'Emp D', 45]  #create employee 
emp_data[4] = new_emp  # add employee to the dictionary
emp_data

{1: ['1', 'Emp A', 34],
 2: ['2', 'Emp B', 35],
 3: ['3', 'Emp C', 36],
 4: ['4', 'Emp D', 45]}

In [39]:
# access 36 value
emp_data[3][-1]

36

## Exercise

Q1. Write a program that asks user to enter the 5 product names and prices. Store all of these in a dictionary with keys are product names and prices are values. Then allow the user to input the product name and print the corresponding price of the product.

In [4]:
count = 5
products = {}

for i in range(count):
    product_name = input("Enter the product_name : ")
    price = int(input('Enter the price : '))
    products[product_name] = price

product_name = input('Enter the product_name : ')
print('The price is :',products[product_name])

The price is : 60000

Q2. Create a dictionary where keys are name of months and days are values. <br>
    (a) Ask the user to input a month name and use the dictionary to tell how many days are in that month.<br>
    (b) Print out all the keys in alphabetical order.<br>

In [1]:
months = {'January':31, 'February':28, 'March':31, 'April':30, "May":31, 'June':30, 'July':31, "August":31, 'September':30,
          'October':31, 'November':30, 'December':31}

#(a) Ask the user to input a month name and use the dictionary to tell how many days are in that month.
month_name = input("Enter the month\n")
print(month_name, " has ", months[month_name], " days.")

#(b) Print out all the keys in alphabetical order.
print("\nThe keys in alphabetical order : \n")
for key in sorted(months.keys()):
    print(key)

January  has  31  days.

The keys in alphabetical order :

April
August
December
February
January
July
June
March
May
November
October
September

Q3. Ask user 5 times to enter a team name and how many times the team won and how many they lost. Store the information in a dictionary where the keys are team names and values are lists of form [wins, lossess]. <br>
    (a) Using this dictionary, allow the user to enter a team name and print out the teams winning percentage.<br>
    (b) Using this dictionary, create a list whose entries are the number of wins of each team.<br>

In [3]:
#Number of times asks the user to input the information
count = 2

#empty dictionary 
teams = {}

#Ask the user for team names and corresponding wins & losses, then add it to the dictionary
for i in range(count):
    team_name = input("Enter the team name\n")
    wins = int(input("Enter the wins\n"))
    losses = int(input("Enter the losses\n"))
    teams[team_name] = [wins, losses]

    
print("\n")    
team_name = input("Enter the team name\n")
print("The winning percentage is ", teams[team_name][0] / (teams[team_name][0] + teams[team_name][1]))

print("\n")    
winning_list = []
for value in teams.values():
    winning_list.append(value[0])
    
print('The winning list is ', winning_list)

The winning percentage is  0.6666666666666666


The winning list is  [10, 10]